<h1 class="text-info text-center my-4">Undo/Redo Task </h1>

<div class="container col-md-6">
  <div class="card">
    @if (message.length > 0) {
    <div class="alert alert-danger">
      {{message}}
    </div>
    }


    <div class="card-body">
      <form [formGroup]="myForm">
        <div class="form-group">
          <label for="">Enter Full Name</label>
          <input type="text" formControlName="name" placeholder="--  Your Name --" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Enter Email Address</label>
          <input type="email" formControlName="email" placeholder="--  Your Email --" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Enter Age</label>
          <input type="number" formControlName="age" placeholder="--  Your Age --" class="form-control">
        </div>

        <div class="row justify-content-between">
          <div class="col-4">
            <div class="d-grid">
              <button [disabled]="undoStatus" (click)="restoreAndRemoveLastObject()" class="btn btn-danger"> Undo
              </button>
            </div>
          </div>
          <div class="col-4">
            <div class="d-grid">
              <button (click)="saveValuesInArray()" class="btn btn-danger"> Save this Value </button>
            </div>
          </div>
          <div class="col-4">
            <div class="d-grid">
              <button [disabled]="redoStatus" (click)="restoreAndRemoveLastObjectInRendo()" class="btn btn-primary">
                Redo </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
